:root {
    --card-inner-width: 100px;
    --card-border-width: 4px;
    --card-outer-width:
            calc(var(--card-inner-width) + 2 * var(--card-border-width));
    --card-margin: 10px;
}

body {
    font-family: sans-serif;
    font-size: 16pt;
    background: #f6f6f6;
    color: #333;
}
p {
    margin: 0;
    padding: 0;
}

.table {
    padding: 20px;
    width: calc((var(--card-outer-width) + 2 * var(--card-margin)) * 4)
}

.card {
    cursor: pointer;
    width: var(--card-outer-width);
    height: var(--card-outer-width);
    position: relative;
    margin: var(--card-margin);
    float: left;
}
.card-back, .card-front {
    width: var(--card-inner-width);
    height: var(--card-inner-width);
    border: var(--card-border-width) solid #fff;
    transition: transform 0.4s;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 15px -5px rgba(58, 52, 58, 0.616);
}
.card-back {
    background-color: #999;
}
.card-front {
    line-height: var(--card-inner-width);
    text-align: center;
    font-size: 50px;
    background: #9cd;
    transform: rotateY(-180deg);
}
.revealed .card-front {
    transform: rotateY(0deg);
}
.revealed .card-back {
    transform: rotateY(180deg);
}